@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<div class="jumbotron">
    <h1>Health Fitness  Club</h1>
    <p class="lead">MEMBERSHIPS THAT FUEL YOUR FITNESS</p>
    <p>Fitness starts with what you eat. Take control of your goal. Track calories, breakdown ingredients and log activities with Fitness Club. </p>


</div>
<br />
<br />
<div align="center"><h1>Membership Plans</h1></div>
<br />
<br />
<div class="row">
    <div class="col-md-4">

        <h2> Silver Card Benefits</h2>

        <ul>

            <li>NEW! No Commitment Period</li>
            <li>Access to ALL locations</li>
            <li>$44 Annual Cleanliness Fee*</li>
            <li>Virtual Fitness and Virtual Cycling*</li>
            <li>@Html.ActionLink("Join Now", "Create", "Customers", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
         
    </div>
    <div class="col-md-4">
        <h2> Gold Card Benefits</h2>
        <ul>

            <li>NEW! No Commitment Period</li>
            <li>Access to ALL locations</li>
            <li>$44 Annual Cleanliness Fee*</li>
            <li>Virtual Fitness and Virtual Cycling*</li>
            <li>FREE 30-Minute Express CircuitTM</li>
            <li>FREE tanning**</li>
            <li>@Html.ActionLink("Join Now", "Create", "Customers", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
       
    </div>
    <div class="col-md-4">
        <h2> Platinum Card Benefits</h2>
        <ul>

            <li>NEW! No Commitment Period</li>
            <li>Access to ALL locations</li>
            <li>$44 Annual Cleanliness Fee*</li>
            <li>Virtual Fitness and Virtual Cycling*</li>
            <li>FREE 30-Minute Express CircuitTM</li>
            <li>FREE tanning**</li>
            <li>FREE unlimited hydro massage bed use*</li>
            <li>FREE unlimited massage chair use***</li>
            <li>FREE gym bag</li>
            <li>FREE t-shirt</li>
            <li>1/2 price cooler drinks**</li>
            <li>@Html.ActionLink("Join Now", "Create", "Customers", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
       
    </div>
</div>